.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}
.thumbnail .caption-full{
    padding: 9px;
}
.deleteForm{
    display: inline;
}
.alert-warning{
    margin:0;
    height: 25px;
    padding: 5px;
}
.thumbnail .showimg{
    height: min-content;
    width: auto;
}
.showthumbnail{
    padding: 5px;
}
#regpagehead{
    text-align: center;
    margin-top: 40%;
    font-family: 'Manrope', sans-serif;

}